.gallery
  %h1 Photos from Taiwan &amp; Thailand

  %h2 Manage photos:
  %li Upload new photo
  = form_for @new_image, :html => {:multipart => true} do |f|
    = f.file_field :files, :multiple => true
    = f.submit
